* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    position: relative;
}

.main .box {
    position: absolute;
    top: 0%;
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
}

nav {
    display: flex;
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 100px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 10;
    font-weight: bold;
    gap: 23px;
    padding: 0 30px;
    text-align: center;
}

.hero> :first-child {
    font-weight: 100%;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    background-color: rgb(59, 58, 58);
    height: 5px;
}

.btn {
    color: white;
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.main input {
    padding: 7px 101px 8px 14px;
     color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(0, 240, 148, 0.384);
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 5px 24px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: 5px auto;
    color: white;
}

@media screen and (max-width:1300px){
    .first{
        flex-wrap: wrap;
    }

    .hero> :first-child {
        font-weight: 700;
        font-size: 32px;
        text-align: center;
    }
    
}

section.first > div{
   display: flex;
   flex-direction: column;
}

section.first > div :nth-child(1){
    font-weight: 900;
    font-size: 48px;
}

section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}

.secImg{
    position: relative;
}
.secImg img{
    width: 400px;
    position: relative;
    z-index: 20;
}

.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 400px;
}

.third video{
    width: 230px;
    right: 100px;
}

@media screen and (max-width:1300px) {

    nav{
        max-width: 90vw;
    }
    .secImg img{
        width: 300px;
    }
    .secImg video{
        width: 300px;
    }
    .third video{
        width: 130px;
        right: 100px;
 }

 .hero-button{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

}



/*third.secImg video {
    position: absolute;
    top: 96px;
    right: 223px;
    width: 19vw;
}*/

.faq h2{
    text-align: center;
}

.faq{
    color: white;
    padding: 34px;
    font-weight: 900;
    font-size: 35px;
}



.faqbox{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 20px;
    
   
    background-color: rgb(37, 37, 37);
    padding: 24px;
    max-width: 70vw;
    margin: 25px  auto;
    cursor: pointer;
}
.faqbox:hover{
    transition: all 1s ease-out;
    background-color: grey;
}


footer{
    padding-top: 55px;
    color: white;
    max-width: 60vw;
    margin: auto;
}


.footer{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer a{
    text-decoration: underline;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.747);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.footer-item{
    display: flex;
    flex-direction: column;
    margin: 20px;
}